<span class="page-header">Procedure Pricing Details</span><br><br>
<form class="form-horizontal" ng-submit="submit()">
    <div class="form-group">
      <label class="control-label col-sm-3" for="email">Procedures :</label>
      <div class="col-sm-4">
          <!--<input type="text" class="form-control" ng-model="procedureId">-->
          <select class="form-control" ng-model="procedureId">
            <option ng-repeat="x in $ctrl.procedures | filter:query | orderBy:'name'" value="{{x.id}}">{{x.name}}</option>
          </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="pwd">Networks :</label>
      <div class="col-sm-4">          
          <!--<input type="text" class="form-control" ng-model="networkId">-->
          <select class="form-control" ng-model="networkId">
            <option ng-repeat="x in $ctrl.networks | filter:query | orderBy:'name'" value="{{x.id}}">{{x.name}}</option>
          </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="pwd">Facility NPI :</label>
      <div class="col-sm-4">          
          <input type="text" class="form-control" ng-model="facilityNpi">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="pwd">Procedure Code Filter :</label>
      <div class="col-sm-4">          
          <input type="text" class="form-control" ng-model="procedureCodeFilt">
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-3 col-sm-4">
        <button type="submit" class="btn btn-success btn-sm">Submit</button>
        <span id="loadingDiv" style="display:none"> Loading...</span>
      </div>
    </div>
</form>

<hr>

<!--<div>
    <table ng-if="$ctrl.authorized"  datatable="" dt-options="$ctrl.dtOptions" dt-columns="$ctrl.dtColumns" class="row-border hover table-hover"></table>
</div>-->
<center><p id="notFound" style="display: none">---- No Data Found ----</p></center>
<div ng-if="$ctrl.authorized" style="font-family: verdana">
    <div style="margin-left: 17px;">
      <button class="btn btn-info btn-sm" target="_blank" onClick ="$('#procPricDetDiv').tableExport({type:'pdf',pdfFontSize:'7',escape:'false'}
);">PDF</button>
      <button class="btn btn-warning btn-sm" target="_blank" onClick ="$('#procPricDetDiv').tableExport({type:'excel',escape:'false'});">Excel</button>
      <button class="btn btn-default btn-sm" ng-click ="$ctrl.printDiv('procPricDetDiv')">Print</button>
    </div>
  <br><br>
    <div class="row" ng-repeat="data in $ctrl.resp" id="procPricDetDiv">
        <div class="col-md-12">
            <div style="color: green; font-weight: bold; text-align: center"><h4>{{data.category_name}} Provider</h4></div><br>
            <table class="table table-striped" >
                <thead>
                  <tr class="responseTable">
                    <th>NPI</th>
                    <th>Provider</th>
                    <th>City</th>
                    <th>Provider Type</th>
                    <th>Episode Cost</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="body_data in data.category_data">
                    <td>{{body_data.col_6}}</td>
                    <td>
                    <!--<p style="cursor: pointer; color: blue" ng-click="$ctrl.subLinkFun(body_data.col_6, data.category_name)">{{body_data.col_1}}</p>-->
                    <a ui-sref="dashboard.providerpricingdetail(
                                 {data: '{ &quot;ProviderNPI&quot;: {{body_data.col_6}}, &quot;NetworkID&quot;: {{networkId}}, &quot;FacilityProviderNPI&quot;: {{facilityNpi}}, &quot;CostCategoryCode&quot;: &quot;{{data.category_name}}&quot;, &quot;ProcedureID&quot;: {{procedureId}}}'})"
                       target="_blank">{{body_data.col_1}}</a>
                    </td>
                    <td>{{body_data.col_2}}</td>
                    <td>{{body_data.col_3}}</td>
                    <td>${{body_data.col_7}}</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
</div>
