<span class="page-header">Procedure Pricing Details</span><br><br>
<form class="form-horizontal" ng-submit="submit(param)">
    <div class="form-group">
      <label class="control-label col-sm-3" for="email">Procedure ID :</label>
      <div class="col-sm-4">
          <input type="number" class="form-control" ng-model="param.procedureId">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="pwd">Network ID :</label>
      <div class="col-sm-4">          
          <input type="number" class="form-control" ng-model="param.networkId">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="pwd">Facility NPI :</label>
      <div class="col-sm-4">          
          <input type="number" class="form-control" ng-model="param.facilityNpi">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="pwd">Procedure Code Filter :</label>
      <div class="col-sm-4">          
          <input type="text" class="form-control" ng-model="param.procedureCodeFilt">
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-3 col-sm-4">
        <button type="submit" class="btn btn-success btn-sm">Submit</button>
      </div>
    </div>
</form>

<hr>

<div>
    <table ng-if="$ctrl.authorized"  datatable="" dt-options="$ctrl.dtOptions" dt-columns="$ctrl.dtColumns" class="row-border hover table-hover"></table>
</div>