<span class="page-header">Company Networks By State</span><br><br><br>
<form class="form-horizontal" ng-submit="submit(param)">
    <div class="form-group">
      <label class="control-label col-sm-3" for="email">Company:</label>
      <div class="col-sm-4">
        <select class="form-control" ng-model="param.companyId">
            <option ng-repeat="x in $ctrl.companies | filter:query | orderBy:'name'" value="{{x.id}}">{{x.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-4">
        <button type="submit" class="btn btn-success btn-sm">Submit</button>
          &nbsp;&nbsp;<span id="loadingDiv" style="display:none"> Loading...</span>
      </div>
    </div>
</form>


<hr>
<br>
<center><p id="notFound" style="display: none">---- No Data Found ----</p></center>

<div ng-if="$ctrl.authorized">
  <div style="margin-left: 17px;">
    <button class="btn btn-info btn-sm" target="_blank" onClick ="$('#companyData').tableExport({type:'pdf',pdfFontSize:'7',escape:'false'}
    );">PDF</button>
    <button class="btn btn-success btn-sm" target="_blank" onClick ="$('#companyData').tableExport({type:'excel',escape:'false'});">Excel</button>
    <button class="btn btn-default btn-sm" ng-click ="$ctrl.printDiv('companyData')">Print</button>
  </div>
  <br>
  <div id="companyData">
      <div class="row" ng-repeat="row in $ctrl.companyData">
          <div class="col-md-3" style="text-align: center; padding-top: 10px;">
              <strong>State Name</strong> : {{row.state_name}}
          </div>
          <div class="col-md-8">
              <table class="table table-bordered table-striped" >
                  <thead>
                    <tr>
                      <th>Network</th>
                      <th>Claim Count</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="body_data in row.state_data">
                      <td>{{body_data.col_4}}</td>
                      <td>{{body_data.col_6}}</td>
                    </tr>
                    <tr class="success">
                      <td> <strong>Total</strong></td>
                      <td>{{row.state_total}}</td>
                    </tr>
                  </tbody>
              </table>
          </div>
          <div class="col-md-1"></div>
      </div>
      <br>
  </div>
</div>
<style type="text/css">
  tr > td, tr > th {
    text-align: center;
  }
</style>