<span class="page-header">Cost Comparison Summary</span><br><br><br>
<form class="form-horizontal" ng-submit="submit()">
    <div class="form-group">
      <label class="control-label col-sm-3">Company Name:</label>
      <div class="col-sm-4">
        <select class="form-control" ng-change="$ctrl.getCompaId(companyId)" ng-model="companyId" id="companyId">
            <option ng-repeat="x in $ctrl.company_drop | filter:query | orderBy:'name'" value="{{x.id}}">{{x.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">Company Id:</label>
      <div class="col-sm-4">
        <select class="form-control" ng-model="compId" >
            <option value="{{$ctrl.compId}}">{{$ctrl.compId}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">Source Zip:</label>
      <div class="col-sm-4">
        <input type="number" class="form-control" ng-model="sourceZip">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">Miles Radius:</label>
      <div class="col-sm-4">
        <input type="number" class="form-control" ng-model="milesRadius">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">Year :</label>
      <div class="col-sm-4">
        <select ng-model="year" class="form-control">
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-4">
        <button type="submit" class="btn btn-success btn-sm">Submit</button>
          &nbsp;&nbsp;<span id="loadingDiv" style="display:none"> Loading...</span>
      </div>
    </div>
</form>


<hr>
<br>
<center><p id="notFound" style="display: none">---- No Data Found ----</p></center>
<div ng-if="$ctrl.authorized" style="font-family: verdana">
    <div style="margin-left: 17px;">
      <button class="btn btn-info btn-sm" target="_blank" onClick ="$('#costCompSymTab').tableExport({type:'pdf',pdfFontSize:'7',escape:'false'}
);">PDF</button>
      <button class="btn btn-success btn-sm" target="_blank" ng-click="$ctrl.excelDownload()">Excel</button>
      <button class="btn btn-default btn-sm" ng-click ="$ctrl.printDiv('costCompSymTab')">Print</button>
    </div>
  <br>
    <div class="row" id="costCompSymTab">
        <div class="col-md-12">
            <table class="table table-striped" style="table-layout: fixed; border-collapse: collapse;">
                <thead>
                  <tr class="responseTable" style="display: block; position: relative;">
                    <th width="15%">Procedure</th>
                    <th width="10%" style="text-align: center;">Episodes</th>
                    <th width="10%" style="text-align: center;">Average Charge(30 Miles)</th>
                    <th width="10%" style="text-align: center;">Estimated Total Cost</th>
                    <th width="10%" style="text-align: center;">Low Cost(30 Miles)</th>
                    <th width="10%" style="text-align: center;">Total Cost(30 Miles)</th>
                    <th width="10%" style="text-align: center;">Potential Savings(30 Miles)</th>
                    <th width="15%">Low Cost Provider (30 Miles)</th>
                    <th width="10%">Network</th>
                  </tr>
                </thead>
                <tbody style="display: block; overflow: auto; width: 100%; height: 400px">
                  <tr ng-repeat="body_data in $ctrl.costData.cmp_data">
                    <td width="15%">{{body_data.col_5}}</td>
                    <td style="text-align: center;" width="10%">{{body_data.col_7}}</td>
                    <td width="10%" style="text-align: center;">${{body_data.col_8}}</td>
                    <td width="10%" style="text-align: center;">${{body_data.col_18}}</td>
                    <td width="10%" style="text-align: center;">{{body_data.col_17}}</td>
                    <td width="10%" style="text-align: center;">${{body_data.col_19}}</td>
                    <td width="10%" style="text-align: center;">${{body_data.col_21}}</td>
                    <td width="15%">{{body_data.col_13}}</td>
                    <td width="10%" style="text-align: center;">{{body_data.col_14}}</td>
                  </tr>
                  <tr class="success">
                      <td colspan="3"><strong>Grand Total</strong></td>
                      <td colspan="2"><strong>${{$ctrl.costData.cmp_estimated}}</strong></td>
                      <td><strong>${{$ctrl.costData.cmp_total_cost}}</strong></td>
                      <td colspan="3"><strong>${{$ctrl.costData.cmp_pt_saving}}</strong></td>
                  </tr>
                </tbody>  
              </table>
            </div>
        </div>
    </div>
    <br>
</div>
<style type="text/css">
  /*tbody tr td{
    padding: 10px 15px !important;
  }*/
</style>