<span class="page-header">Provider Pricing Detail</span><br><br>
<form class="form-horizontal" ng-submit="submit()">
    <div class="form-group">
      <label class="control-label col-sm-3">Procedure :</label>
      <div class="col-sm-4">
        <select class="form-control" ng-model="procedureId" id="procedureId">
            <option ng-repeat="x in $ctrl.procedures | filter:query | orderBy:'name'" value="{{x.id}}">{{x.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">Network :</label>
      <div class="col-sm-4">          
          <select class="form-control" ng-model="networkId" id="networkId">
            <option ng-repeat="x in $ctrl.networks | filter:query | orderBy:'name'" value="{{x.id}}">{{x.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" >Provider NPI :</label>
      <div class="col-sm-4">          
        <input type="text" class="form-control" id="providerNpi" ng-model="providerNpi">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" >Cost Category Code :</label>
      <div class="col-sm-4">          
        <select class="form-control" ng-model="costcategorycode">
            <option value="ANESTHESIA">ANESTHESIA</option>
            <option value="PHYSICIAN">PHYSICIAN</option>
            <option value="FACILITY">FACILITY</option>
            <option value="LAB">LAB</option>
            <option value="RADIOLOGY">RADIOLOGY</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="pwd">Facility Provider NPI :</label>
      <div class="col-sm-4">          
        <input type="text" class="form-control" id="facelityprovidernpi" ng-model="facelityprovidernpi">
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-3 col-sm-4">
        <button type="submit" class="btn btn-success btn-sm">Submit</button>
        &nbsp;&nbsp;<span id="loadingDiv" style="display:none"> Loading...</span>
      </div>
    </div>
</form>

<hr>
<center><p id="notFound" style="display: none">---- No Data Found ----</p></center>

<div ng-if="$ctrl.authorized" style="font-family: verdana">
    <div style="margin-left: 17px;">
      <button class="btn btn-info btn-sm" target="_blank" onClick ="$('#providerPricDetDiv').tableExport({type:'pdf',pdfFontSize:'7',escape:'false'}
);">PDF</button>
      <button class="btn btn-success btn-sm" target="_blank" ng-click="$ctrl.excelDownload()">Excel</button>
      <button class="btn btn-default btn-sm" ng-click ="$ctrl.printDiv('providerPricDetDiv')">Print</button>
    </div>
  <br><br>
    <div class="row" id="providerPricDetDiv">
        <div class="col-md-12">
            <table class="table table-striped" >
                <thead>
                  <tr class="responseTable">
                    <th>Code</th>
                    <th width="25%">Code Description</th>
                    <th style="text-align: center;">Episode Count</th>
                    <th style="text-align: center;">Retail Price</th>
                    <th>Price Date</th>
                    <th>Price Source</th>
                    <th style="text-align: center;">Discount Percentage</th>
                    <th style="text-align: center;">Discounted Amount</th>
                    <th>Discount Source</th>
                    <th style="text-align: center;">Code Cost Factor</th>
                    <th>Factored Cost</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="body_data in $ctrl.resp.data">
                    <td>{{body_data.col_9}}</td>
                    <td>{{body_data.col_11}}</td>
                    <td style="text-align: center;">{{body_data.col_7}}</td>
                    <td style="text-align: center;">{{body_data.col_12}}</td>
                    <td>{{body_data.col_13}}</td>
                    <td>{{body_data.col_15}}</td>
                    <td style="text-align: center;">{{body_data.col_17}}</td>
                    <td style="text-align: center;">{{body_data.col_18}}</td>
                    <td>{{body_data.col_20}}</td>
                    <td>{{body_data.col_22}}</td>
                    <td style="text-align: center;">{{body_data.col_24}}</td>
                  </tr>
                  <tr class="success">
                    <td colspan="7"></td>
                    <td colspan="3"><strong>Typical Provider Episode Cost:</strong></td>
                    <td style="text-align: center;"><strong>{{$ctrl.resp.factor_total}}</strong></td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
</div>