<span class="page-header">Procedure Code Summary for Procedure</span><br><br><br>
<form class="form-horizontal" ng-submit="submit(param)">
    <div class="form-group">
      <label class="control-label col-sm-3" >Procedure:</label>
      <div class="col-sm-4">
        <select class="form-control" ng-model="param.ProcedureID">
            <option ng-repeat="x in $ctrl.procedures | filter:query | orderBy:'name'" value="{{x.id}}">{{x.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-4">
        <button type="submit" class="btn btn-success btn-sm">Submit</button>
          &nbsp;&nbsp;<span id="loadingDiv" style="display:none"> Loading...</span>
      </div>
    </div>
</form>


<hr>

<div>
    <table ng-if="$ctrl.authorized"  datatable="" dt-options="$ctrl.dtOptions" dt-columns="$ctrl.dtColumns" class="row-border hover table-hover"></table>
</div>
<!--<div>
    <div class="row" ng-if="$ctrl.authorized" ng-repeat="row in $ctrl.companyData">
        <div class="col-md-3" style="text-align: center; padding-top: 10px;">
            <strong>State Name</strong> : {{row.state_name}}
        </div>
        <div class="col-md-8">
            <table class="table table-bordered table-striped" >
                <thead>
                  <tr>
                    <th>Network</th>
                    <th>Claim Count</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="body_data in row.state_data">
                    <td>{{body_data.col_4}}</td>
                    <td>{{body_data.col_6}}</td>
                  </tr>
                  <tr class="success">
                    <td> <strong>Total</strong></td>
                    <td>{{row.state_total}}</td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
    <br>
</div>-->
