<span class="page-header">Procedure Code Summary for Procedure</span><br><br><br>
<form class="form-horizontal" ng-submit="submit(param)">
    <div class="form-group">
      <label class="control-label col-sm-3" >Procedure:</label>
      <div class="col-sm-4">
        <select class="form-control" ng-model="param.ProcedureID">
            <option ng-repeat="x in $ctrl.procedures | filter:query | orderBy:'name'" value="{{x.id}}">{{x.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-4">
        <button type="submit" class="btn btn-success btn-sm">Submit</button>
          &nbsp;&nbsp;<span id="loadingDiv" style="display:none"> Loading...</span>
      </div>
    </div>
</form>


<hr>
<div ng-if="$ctrl.authorized">
  <div style="margin-left: 17px;">
      <button class="btn btn-info btn-sm" target="_blank" onClick ="$('#ProcedureCodetable').tableExport({type:'pdf',pdfFontSize:'7',escape:'false'}
);">PDF</button>
      <button class="btn btn-success btn-sm" target="_blank" onClick ="$('#ProcedureCodetable').tableExport({type:'excel',escape:'false'});">Excel</button>
      <button class="btn btn-default btn-sm" ng-click ="$ctrl.printDiv('ProcedureCodetable')">Print</button>
  </div>
<br>
  <div id="ProcedureCodetable">
    <table  datatable="" dt-options="$ctrl.dtOptions" dt-columns="$ctrl.dtColumns" class="row-border hover table-hover"></table>
  </div>
</div>
